<div>
    <span>{{ 'task.title' | translate }}</span>
</div>
<h2>
    Neue Aufgabe erstellen
</h2>
<form action="">
    <form class="form-inline">

        <!-- DATEPICKER -->
        <div class="form-group">
            <div class="input-group">
                <span>sleect deadline</span>
                <input class="form-control" placeholder="yyyy-mm-dd" name="dp" [(ngModel)]="model" ngbDatepicker
                    #d="ngbDatepicker">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary calendar" style="width: 100px;" (click)="d.toggle()"
                        type="button">select date</button>
                </div>
            </div>
        </div>

        <!-- FILEUPLOAD -->
        <div class="form-group">
            <label for="file">Choose File</label>
            <input type="file" id="file" (change)="handleFileInput($event.target.files)">
        </div>

        <!-- Difficulty -->
        <input type="number" name="difficulty" id="difficulty" placeholder="Schwierigkeitsgrad" min="1" max="10"
            pattern="[0-9]*">

        <!-- TEXTFIELD -->
        <textarea name="description" id="description" placeholder="Beschreibung..."
            (change)="handleTextInput($event)"></textarea>

        <!-- SUBMITBUTTON -->
        <input type="submit" value="Aufgabe erstellen" (click)="uploadFileToActivity()">
    </form>
</form>