.custom-header {
    font-size: 14px;
    color: white;
  }
  
  .custom-header:hover {
    color: #00abe7;
  }
  
  .custom-menu {
    font-size: 18px;
    color: #00abe7;
  }
  
  .custom-menu:hover,
  .custom-menu:hover .st0 {
    opacity: 0.5;
  }
  
  .custom-sub-menu {
    font-family: "Verdana";
    font-size: 16px;
  }
  
  .custom-sub-menu:hover {
    color: #00abe7;
  }
    
  // Burgermenu-animation
  .animated-icon {
    width: 30px;
    height: 20px;
    position: relative;
    margin-top: -10px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
    cursor: pointer;
  }
  
  .animated-icon:hover span {
    background: #00abe7;
  }
  
  .animated-icon span {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.25s ease-in-out;
    -moz-transition: 0.25s ease-in-out;
    -o-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out;
  }
  
  .icon-bar {
    width: 35px;
    height: 3px;
    background-color: white;
    display: block;
    transition: all 0.2s;
    margin-top: 7px;
  }
  
  .nav-item {
    border-bottom: 1px solid;
    border-bottom-color: #eef1f4;
  }
  
  .navbar-toggler {
    border: none;
    background: transparent !important;
  }
  
  .navbar-toggler .top-bar {
    top: 11px;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
  }
  
  .navbar-toggler .middle-bar {
    opacity: 0;
  }
  
  .navbar-toggler .bottom-bar {
    top: 11px;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
  }
  
  .navbar-toggler.collapsed .top-bar {
    transform: rotate(0);
    top: 0px;
  }
  
  .navbar-toggler.collapsed .middle-bar {
    opacity: 1;
    top: 10px;
  }
  
  .navbar-toggler.collapsed .bottom-bar {
    transform: rotate(0);
    top: 20px;
  }
  
  // hides menu, after resizing window
  @media only screen and (min-width: 993px) {
    .visibility {
      display: none;
    }
  }
