<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-dark">
    <div class="container-sm px-0">
      <div class="navbar-brand">
        <a class="text-white" routerLink="/">{{ 'title' | translate }}</a>
      </div>
      <div class="row align-items-center float-right">
        <!-- Language selection -->
        <a class="navbar-brand custom-header dropdown dropdown-toggle" (click)="openLanguages()" id="dropdownMenuButton"
          data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{ 'language.language' | translate }}
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" (click)="setLanguage('en')">{{
              'language.english' | translate
            }}</a>
            <a class="dropdown-item" (click)="setLanguage('de')">{{
              'language.german' | translate
            }}</a>
          </div>
        </a>
      </div>
    </div>
  </nav>
</header>