.courses-wrapper {
  display: flex;
  flex-direction: column;
  margin: 20px;

  div {
    position: relative;
    font-size: 1.25rem;
    margin: 10px 0;
    &::before {
      position: absolute;
      right: 15px;
      top: 5px;
      content: '';
      width: 20px;
      height: 20px;
      border-top: 3px solid teal;
      border-right: 3px solid teal;
      transform: rotate(45deg);
    }
  }
}
